@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");
/* body {
  align-items: center;
  background-color: #F2F2F2;
  display: flex;
  font-family: "Merriweather", serif;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  margin: 0;
} */
main.about {
    display: flex;
    width: 100%;
    height: 100%;

    margin: 5% 1% ;
    
    /* padding: 15px; */
}
main.about .opening {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    /* width: 600px; */
    width: 30%;

    text-align: left;
  }
  main.about .opening h1 {
    text-transform: uppercase;
    color: goldenrod;
    margin:  4% 0 ;

    font-weight: bold;
  }
  main.about.opening h2 {
    font-weight: bold;
  }
main.about .person {
    /* border: 1px solid red; */
  align-items: center;
  display: flex;
  flex-direction: column;
  /* width: 280px; */
  width: 18%;
}
main.about .container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* width: 400px; */
  width: 100%;
}
/* .container:after {
  background-color: #F2F2F2;
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
} */
main.about .container:hover {
  transform: scale(0.54);
}
main.about .container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -100px;
}
main.about .circle {
  background-color: #FEE7D3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
main.about .img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
main.about .container:hover .img {
  transform: translateY(0) scale(1.2);
}
main.about .img1 {
  left: 22px;
  top: 164px;
  width: 340px;
}
main.about .img2 {
  left: -46px;
  top: 174px;
  width: 444px;
}
main.about .img3 {
  left: -16px;
  top: 144px;
  width: 466px;
}
/* .divider {
  background-color: #CA6060;
  height: 1px;
  width: 160px;
} */
main.about .name {
  color: #404245;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
main.about .title {
  color: #6E6E6E;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}
/* about us text */
/* main.about h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  white-space: nowrap;
}
main.about h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  white-space: nowrap;
}
main.about p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1;
} */


@media screen and (min-width: 400px) and (max-width: 800px) {
    main.about {
        /* background-color: black; */
        flex-direction: column;
        margin: 10% auto;
    }
    main.about .opening {
        width: 90%;
        text-align: center;
        padding: 5% 0;
    }
    main.about .person {
        flex-direction: row;
        
        width: 100%;
        /* margin: 0 1%; */
    }







    
    
    
    
    main.about .person {
        /* border: 1px solid red; */
        align-items: center;
        display: flex;
        flex-direction: column;
        /* width: 280px;
        width: 15%; */
    }
    main.about .container {
        /* border: 1px solid red; */
      border-radius: 50%;
      height: 312px;
      
      -webkit-tap-highlight-color: transparent;
      transform: scale(0.48);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      width: 400px;
    }
    /* .container:after {
      background-color: #F2F2F2;
      content: "";
      height: 10px;
      position: absolute;
      top: 390px;
      width: 100%;
    } */
    main.about .container:hover {
      transform: scale(0.54);
    }
    main.about .container-inner {
      clip-path: path(
        "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
      );
      position: relative;
      transform-origin: 50%;
      top: -100px;
    }
    main.about .circle {
      background-color: #FEE7D3;
      border-radius: 50%;
      cursor: pointer;
      height: 380px;
      left: 10px;
      pointer-events: none;
      position: absolute;
      top: 210px;
      width: 380px;
    }
    main.about .img {
      pointer-events: none;
      position: relative;
      transform: translateY(20px) scale(1.15);
      transform-origin: 50% bottom;
      transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    main.about .container:hover .img {
      transform: translateY(0) scale(1.2);
    }
    main.about .img1 {
      left: 22px;
      top: 164px;
      width: 340px;
    }
    main.about .img2 {
      left: -46px;
      top: 174px;
      width: 444px;
    }
    main.about .img3 {
      left: -16px;
      top: 144px;
      width: 466px;
    }
    /* .divider {
      background-color: #CA6060;
      height: 1px;
      width: 160px;
    } */
    main.about .name {
      color: #404245;
      font-size: 36px;
      font-weight: 600;
      margin-top: 16px;
      text-align: center;
    }
    main.about .title {
      color: #6E6E6E;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-style: italic;
      margin-top: 4px;
    }
}